/*root containing all variable references */
:root{
    /* Colors */
    --lightGreen: #B6CECA;
    --darkGreen: #2B574F;
    --midGreen: #8AB9AD;
    --htmlRed: #D83F31;
    --CSSBlue: #3876BF;
    --JSYellow: #E9B824;
    
}

*{
    font-family: 'Nanum Myeongjo', serif;
}
h2{
    font-size: 300%;
}
h3{
    font-size: 250%;
}

/*Header styles*/
header {
    height: 80px;
    width: 100vw;
    background-color: var(--darkGreen);
    border-bottom: 4px solid black;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    position: absolute;
    height: 400px;
    top: -40px;
    right: 40px;
    display: flex;
}

nav li {
    height: 150px;
    width: auto;
    margin: 0 20px;
    font-size: 200%;
    padding: 80px 20px 20px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 10px 10px 10px black;
}

nav li:hover{
    padding: 100px 20px;
    transition: padding .2s;
}
nav li:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: 7px 7px 10px black;
}

header a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}


/*Icon design */
.myIcon {
    box-shadow:  10px 10px 10px black;
    position: absolute;
    left: 100px;
    top: 0px;
    border: 10px solid white;
}

.myIcon h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: white;

}

#iconDesign{
    height: 220px;
    width: 176px;
    box-shadow: 30px -30px #739072 inset, -30px 30px #4F6F52 inset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95ac8c;
    border-bottom: 56px solid white;
}

#altText{
    display: none;
}
#mobileNav{
    display: none;
}

/*hero styling */
.hero {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    border-bottom: 4px solid black;
}

.hero-div {
    height: 50vh;
    border-bottom: 8px solid black;
}

.headshot {
    border-radius: 100%;
    width: 20em;
    height: 20em;
    object-fit: cover;
    border: 0.5em solid white;
    position: relative;
    bottom: 200px;
    left: 100px;
    box-shadow: 10px 10px 10px black;
}

/*About me section styling*/
#about-me {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightGreen);
}
#about-me div{
    margin: 200px 15vw;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
}

#about-me p {
    margin: 20px;
    font-size: 150%;
}

/*Work gallery styling*/
#work {
    background-color: var(--darkGreen);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 8px solid rgb(36, 63, 69);
    border-bottom: 8px solid rgb(36, 63, 69);
}

#work h2 {
    color: white;
    margin: 40px;
}

#workGrid {
    display: flex;
    height: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 65vw;
    padding: 20px;
}
/*Individual tile styling*/
#bannerTile {
    flex: 0 0 100%;
    height: 60vh;
    margin-bottom: 5%;
    background: url(./Images/projectImages/website.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tile{
    background-color: var(--midGreen);
    border-radius: 20px;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 10px 10px rgb(29, 29, 29);
}
.tile h3{
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
}

.smallerTile{
    flex: 0 0 48%;
    height: 40vh;
    width: 30vw;
    margin-bottom: 5%;
}

.tile:hover {
    border: 12px solid rgb(29, 38, 29);
    cursor: grab;
}
.tile:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: 7px 7px black;
}

/* Individual application card styling */
.tile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tile h3{
    margin: 60px 20px 20px 0;
    padding: 20px 20px 20px 40px;
    border-radius:  0 10px 10px 0;
    align-self: flex-start;
    background-color: white;
    box-shadow: 0px -10px var(--htmlRed), 0px -20px var(--CSSBlue), 0px -30px var(--JSYellow);
}
.tech{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.techContainer{
    display: flex;
    flex-wrap:wrap;
}

.html {
    background-color: var(--htmlRed);
}

.css {
    background-color: var(--CSSBlue);
}

.javascript {
    background-color: var(--JSYellow);
}

/*Images for tile backgrounds + styling */
#battleship{
    background: url('./Images/projectImages/battleship.jpg');
}

#calculator{
    background: url('./Images/projectImages/calculator.jpg');
}

#etchasketch{
    background: url('./Images/projectImages/Etch-A-Sketch.jpg');
    
}

#connectFour{
    background: url('./Images/projectImages/connect4.jpeg');
}
#calculator, #etchasketch, #battleship, #connectFour{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Contact section styling */
#contact {
    background-color: #B6CECA;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#contact h2 {
    margin: 20px;
    color: white;
}
#contact h3{
    font-weight:100;
    position: relative;
    top: 5vh;
    margin: 20px;
}

#contactArea{
    display: flex;
    margin-top: 30px;
}

#contactArea div{
    margin: 50px 30px 100px 30px;
}

#contactArea img{
    width: 80px;
    height: 80px;
}

.gitHubAlt,
.linkedInAlt,
.emailAlt {
    display: none;
}

/* Contact icon hover features */
.gitHubAlt,
.linkedInAlt,
.emailAlt {
    display: none;
}

#gitHub:hover .gitHub, #linkedIn:hover .linkedIn, #email:hover .email{
    display:none;
}
#gitHub:hover .gitHubAlt, #linkedIn:hover .linkedInAlt, #email:hover .emailAlt {
    display: block;
}


/*Media Query for viewport widths below 880px */
@media screen and (max-width: 880px){
    header{
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .myIcon{
        width: 300px;
        height: 500px;
        position: relative;
        top: 80px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;

    }
    #iconDesign{
        width: 100%;
        height:400px;
        background-color: #95ac8c;
        border-bottom: 5px solid white;
    }
    #mobileNav{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 400px;
    }
    
    .myIcon ul li {
        margin: auto;
        font-size: 30px;
        background-color: white;
        border: none;
    }
    .myIcon a{
        padding: 20px auto;
    }
    .myIcon a:hover{
        background-color: rgb(192, 186, 186);
    }

    #altText{
        display: block;
    }
    #webText{
        display: none;
    }
    #webNav{
        display: none;
    }
    .headshot{
        left: 50%;
        margin-left: -10em;
    }
    #bannerTile{
        flex: 0 0 100%;
        height: 40vh;

    }
    .smallerTile{
        flex: 0 0 100%;
        height: 400px;
    }

    #menu img{
        display: block;
        flex: 0 0 50%;
    }
}
/*Media query for widths below 664px*/
@media screen and (max-width: 664px){
    #about-me p{
        font-size: 100%;
    }

    #about-me div {
        margin: 100px 10px;
        height: 100%;
        box-sizing: border-box;
        padding: 20px;
    }

    h3{
        font-size: 150%;
    }

    .headshot {
        width: 10em;
        height: 10em;
        position: relative;
        bottom: 100px;
        left: 50%;
        margin-left: -5em;
        }
    
    .tile h3 {
        margin: 40px 20px 20px 0;
        padding: 20px 20px 20px 20px;
        border-radius: 0 10px 10px 0;
        background-color: white;
        box-shadow: 0px -5px var(--htmlRed), 0px -10px var(--CSSBlue), 0px -15px var(--JSYellow);
    }
    
    .tech {
        padding: 5px;
        font-size: 100%;
    }

    #workGrid{
        width: 95vw;
    }

    #bannerTile {
        flex: 0 0 100%;
        height: 40vh;
    }
    
    .smallerTile {
        flex: 0 0 100%;
        height: 30vh;
    }

    #contactArea img {
        width: 40px;
        height: 40px;
    }
}
