:root{
    --lightGreen: #B6CECA;
    --darkGreen: #2B574F;
    --midGreen: #8AB9AD;
    --htmlRed: #D83F31;
    --CSSBlue: #3876BF;
    --JSYellow: #E9B824;
}

*{
    font-family: 'Nanum Myeongjo', serif;
}
body {
    background-color: #B6CECA;
}

/*Header styles*/
header {
    height: 80px;
    width: 100vw;
    background-color: var(--darkGreen);
    border-bottom: 4px solid black;
    justify-content: flex-end;
    align-items: center;
}
nav ul{
    position: absolute;
    height: 400px;
    margin: 0px;
    top: -40px;
    right: 20px;
    display: flex;
}

nav ul li {
    height: 150px;
    width: auto;
    margin: 0 20px;
    font-size: 30px;
    padding: 80px 20px 20px 20px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 10px 10px 10px black;

}

nav ul li:hover{
    padding: 100px 20px;
    transition: padding .2s;
}
nav ul li:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: 7px 7px 10px black;
    
}

header a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
}


/*Icon design */

.myIcon {
    box-shadow:  10px 10px 10px black;
    position: absolute;
    left: 100px;
    top: 0px;
    border: 10px solid white;
}

#iconDesign{
    height: 220px;
    width: 176px;
    box-shadow: 30px -30px #739072 inset, -30px 30px #4F6F52 inset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #95ac8c;
    border-bottom: 56px solid white;
}

#alt{
    display: none;
}
#mobileNav{
    display: none;
}

.myIcon h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: white;

}

/*hero styling */
.hero {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    border-bottom: 4px solid black;
}

.hero-div {
    height: 50vh;
    border-bottom: 4px solid black;
}

.headshot {
    border-radius: 100%;
    width: 20em;
    height: 20em;
    object-fit: cover;
    border: 0.5em solid white;
    position: relative;
    z-index: 1;
    bottom: 200px;
    left: 100px;
    box-shadow: 10px 10px #3A4D39;
}

/*About me section styling*/
#about-me {
    display: flex;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#about-me div{
    width: 80vw;
}

#about-me h2 {
    font-size: 50px;
}

#about-me div {
    position: relative;
    top: 30%;
}

#about-me p {
    margin: 20px;
    font-size: 20px;
}

/*Work gallery styling*/
#work {
    background-color: var(--darkGreen);
    width: 100vw;
    height: 180vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 8px solid rgb(36, 63, 69);
    border-bottom: 8px solid rgb(36, 63, 69);
}

#work h2 {
    font-size: 50px;
    color: white;
    margin: 40px;
}

#workGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 20vh;
    width: 65vw;
}

#bannerTile {
    flex: 0 0 100%;
    height: 60vh;
    margin-bottom: 5%;
    background: url(./Images/projectImages/website.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#workGrid article{
    background-color: var(--midGreen);
    border-radius: 20px;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 10px 10px rgb(29, 29, 29);
}

.smallerTile{
    flex: 0 0 48%;
    height: 40vh;
    width: 30vw;
    margin-bottom: 5%;
}

#workGrid article:hover {
    border: 8px solid white;
    cursor: grab;
}
#workGrid article:active{
    transform: translateY(4px) translateX(4px);
    box-shadow: 7px 7px black;
}



/* Individual application card styling */
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article h3{
    margin: 60px 20px 20px 0;
    padding: 20px 20px 20px 40px;
    border-radius:  0 10px 10px 0;
    align-self: flex-start;
    background-color: white;
    font-size: 150%;
    box-shadow: 0px -10px var(--htmlRed), 0px -20px var(--CSSBlue), 0px -30px var(--JSYellow);
}
.tech{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    font-size: 150%;
    border: 2px solid white;
}

.techContainer{
    display: flex;
    flex-wrap:wrap;
}

#battleship{
    position: relative;
    background-color: rgba(159, 119, 119, 0.5);
    background: url('./Images/projectImages/battleship.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#calculator{
    background: url('./Images/projectImages/calculator.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#etchasketch{
    background: url('./Images/projectImages/Etch-A-Sketch.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.html{
    background-color: var(--htmlRed);
}
.css{
    background-color: var(--CSSBlue);
}

.javascript{
    background-color: var(--JSYellow);
}
/*Contact section styling */
#contact {
    background-color: #B6CECA;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#contact h2 {
    margin: 20px;
    font-size: 50px;
    color: white;
    position: relative;
}
#contact h3{
    font-size: 40px;
    font-weight:100;
    position: relative;
    top: 5vh;
}

#contactArea{
    display: flex;
}

#contactArea div{
    margin: 30px;
}

#contactArea img{
    width: 80px;
    height: 80px;
}

.gitHubAlt,
.linkedInAlt,
.emailAlt {
    display: none;
}

/* Contact icon hover features */
.gitHubAlt,
.linkedInAlt,
.emailAlt {
    display: none;
}

#gitHub:hover .gitHub, #linkedIn:hover .linkedIn, #email:hover .email{
    display:none;
}
#gitHub:hover .gitHubAlt, #linkedIn:hover .linkedInAlt, #email:hover .emailAlt {
    display: block;
}


/*Media Query for viewport widths below 768px */
@media screen and (max-width: 880px){
    header{
        height: 400px;
        display: flex;
        justify-content: center;
    }
    .myIcon{
        width: 300px;
        height: 600px;
        position: relative;
        top: 150px;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;

    }
    #iconDesign{
        width: 100%;
        height:400px;
        background-color: #95ac8c;
        border-bottom: 5px solid white;
    }
    #mobileNav{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 400px;
    }
    
    .myIcon ul li {
        margin: auto;
        font-size: 30px;
        background-color: white;
        border: none;

    }

    #work{
        height: 200vh;
    }

    #alt{
        display: block;
    }
    #initial{
        display: none;
    }
    #webNav{
        display: none;
    }

    .headshot{
        left: 50%;
        margin-left: -10em;
    }
    #bannerTile{
        flex: 0 0 100%;

    }
    .smallerTile{
        flex: 0 0 100%;
        height: 400px;
    }

    #menu img{
        display: block;
        flex: 0 0 50%;
    }
}