

body {
    background-color: #B6CECA;
}

/*Header styles*/
header {
    height: 200px;
    background-color: #8AB9AD;
    display: flex;
    border-bottom: 4px solid black;
    justify-content: center;
}



header ul {
    float: right;
    position: absolute;
    right: 10px;
}

header ul li {
    display: inline-block;
    text-decoration: none;
    line-height: 100px;
    margin: 20px;
    font-size: 30px;
    padding: 20px 20px;

}

/*Icon design */

.myIcon {
    height: 110px;
    width: 88px;
    border: 5px solid white;
    border-bottom: 28px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    box-shadow: 15px -15px #739072 inset, -15px 15px #4F6F52 inset, 10px 10px #3A4D39;
    float: left;
    position: absolute;
    left: 10px;
    top: 20px;
    background-color: #95ac8c;
}

.myIcon h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: white;

}

header ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}


/*About me section styling*/
#about-me {
    display: flex;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me h2 {
    font-size: 50px;
}

#about-me div {
    position: relative;
    top: 30%;
}

#about-me p {
    margin: 20px;
}

/*Work gallery styling*/
#work {
    background-color: #2B574F;
    width: 100vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 8px solid rgb(36, 63, 69);
    border-bottom: 8px solid rgb(36, 63, 69);
}

#work h2 {
    font-size: 50px;
    color: white;
    margin: 40px;
}

#workGrid {
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 40vh 40vh 40vh;
    gap: 30px;
    top: 20vh;
    width: 60vw;
}

#workGrid article {
    background-color: #8AB9AD;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 10px 10px black;
}

#workGrid article:hover {
    border: 14px solid white;
}

#banner {
    grid-area: 1 / 1 / 2 /3;
}

/*Contact section styling */
#contact {
    background-color: #B6CECA;
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#contact h2 {
    margin: 20px;
    font-size: 50px;
    color: white;
}